.hidden {
    display: none;
    /*    transform: scale(0);*/
    /*    transform: translateX(-100%);
    opacity: 0;*/
}


/*
* {
    box-sizing: border-box;
}
*/

/*Generelle indstillinger for CSS*/
body {
    margin: 0;
    padding: 0px;
}

section {
    max-width: 1200px;
    margin: 0 auto;


}

.col {
    padding-top: 35.3px;
}

.col2 {
    padding-top: 35.3px;
}

.txt {
    padding: 55px;
}



img {
    width: 100%;
}





/* Burger menu */

body {
    margin: 0;
    padding: 0;

    /*background: #232323;*/
    /*    color: #cdcdcd;*/
    font-family: "Avenir Next", "Avenir", sans-serif;

    overflow-x: hidden;
    /* nødvendig for at gemme menu ordentligt i højere side af skærm  */
}

a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide */
    z-index: 2;
    /* sæt oven på hamburger */

    -webkit-touch-callout: none;
}


#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
 * Laver de tre span classes til et kryds
 *
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * Gemmer den midterste
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Den sidste streg går i den anden retning
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * absolute positioned
 * top left
 */
#menuburger {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuburger2 a {
    color: blue;
    padding: 2rem;

}

#menuburger li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * Fade in fra venstre
 */
#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}

#menuburger2 {
    display: none;
}


/*
#burgerknap {
    display: inline-block;
}

#burgermenu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

*/

/*Burger menu slut */


/*Start side CSS*/

#splash {
    background-image: url(billeder/splash_mash.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 69% 0%;
    max-width: none;
    display: flex;
}

#splash .logo {
    background-image: url(billeder/mash_logo_transparent.png);

    background-position: 100%;
    width: 950px;
    height: 308px;


    /*
    position: absolute;
    left: 328px;
    top: 300px;
*/
}


#groent {
    background-color: #59071D;
    color: white;

}



#groent .col {
    display: flex;
    justify-content: center;


}

.circle1 {
    background-image: url(billeder/gulerodder.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;


}

#koed {
    background-color: #F2E6CE;
    color: #3F3A36;

}

#koed .col {
    display: flex;
    justify-content: center;
}


.circle2 {
    background-image: url(billeder/koed.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}


#fisk {
    background-image: url(billeder/fiskbaggrund.jpg);
    color: white;
    background-size: 100%;

}


#fisk .col {
    display: flex;
    justify-content: center;
}

.circle3 {
    background-image: url(billeder/fisk.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

#film {
    background-color: #59071D;
    color: white;


}




.menu_knapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#menu {
    background-color: #F2E6CE;
    color: #3F3A36;


}

#menu .col {
    padding-top: 0px;
}


#menu .knap a {
    background-color: #3F3A36;
    color: white;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 100px;
    padding-right: 100px;

}





#menu .mad a:hover {

    color: lightpink;
    background-color: black;
}

#menu .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 15px;
}


#menu .col2 {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 2;
    flex-basis: 600px;



}

#menu .menu_knapper {
    flex-grow: 1;
    flex-basis: 100px;



}





#selvskab {
    background-color: #59071D;
    color: white;


}


#selvskab .col {
    display: flex;
    justify-content: center;
}

#book {
    background-image: url(billeder/booking.jpg);



}

#info {
    background-image: url(billeder/fiskbaggrund.jpg);
    color: white;

}


.circle4 {
    background-image: url(billeder/fisk.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

#info .col .txt {
    text-align: center;

}



/*KONTAKT SIDEN*/

#kontakt .sectionwrapper {
    background-color: #59071D;
    color: white;
}

#kontakt .col {
    display: flex;
    justify-content: center;
}


.circle5 {
    background-image: url(billeder/fisk.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

#kontakt .book_knap {
    background-color: #59071D;
    ;
    color: white;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 100px;
    padding-right: 100px;
    border: 3px solid white;

}






#frederiksberg {
    background-color: #59071D;
    color: white;

}

#frederiksberg .col {
    display: flex;
    justify-content: center;
}


.circle6 {
    background-image: url(billeder/frederiksberg.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

#frederiksberg .laes_mere1 a {
    background-color: #59071D;
    ;
    color: white;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 137px;
    padding-right: 137px;
    border: 1px solid white;

}

#frederiksberg .laes_mere1 a:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#aarhus {
    background-color: #F2E6CE;
    color: #3F3A36;

}

#aarhus .col {
    display: flex;
    justify-content: center;
}


#aarhus .firkant1 {
    background-image: url(billeder/aarhus.jpg);
    background-position: 100%;
    width: 480px;
    height: 350px;

}

#aarhus .laes_mere2 a {
    background-color: #F2E6CE;
    ;
    color: #3F3A36;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 137px;
    padding-right: 137px;
    border: 1px solid #3F3A36;

}

#aarhus .laes_mere2 a:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#airport {
    background-image: url(billeder/fiskbaggrund.jpg);
    color: white;

}

#airport .col {
    display: flex;
    justify-content: center;
}



.circle7 {
    background-image: url(billeder/airport.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

#airport .laes_mere3 a {
    background-image: url(billeder/fiskbaggrund.jpg);
    ;
    color: white;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 137px;
    padding-right: 137px;
    border: 1px solid white;

}

#airport .laes_mere3 a:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#bredgade {
    background-color: #59071D;
    color: white;
}

#bredgade .col {
    display: flex;
    justify-content: center;
}


#bredgade .firkant2 {
    background-image: url(billeder/bredgade.jpg);
    background-position: 100%;
    width: 480px;
    height: 350px;

}

#bredgade .laes_mere4 a {
    background-color: #59071D;
    ;
    color: white;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 137px;
    padding-right: 137px;
    border: 1px solid white;

}

#bredgade .laes_mere4 a:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#dusseldorf {
    background-color: #F2E6CE;
    color: #3F3A36;

}

#dusseldorf .col {
    display: flex;
    justify-content: center;
}


#dusseldorf .firkant3 {
    background-image: url(billeder/dusseldorf.jpg);
    background-position: 100%;
    width: 480px;
    height: 350px;

}

#dusseldorf .laes_mere5 a {
    background-color: #F2E6CE;
    ;
    color: #3F3A36;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 137px;
    padding-right: 137px;
    border: 1px solid #3F3A36;

}

#dusseldorf .laes_mere5 a:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#hamburg {
    background-image: url(billeder/fiskbaggrund.jpg);
    color: white;

}

#hamburg .col {
    display: flex;
    justify-content: center;
}



.circle8 {
    background-image: url(billeder/hamburg.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

#hamburg .laes_mere6 a {
    background-image: url(billeder/fiskbaggrund.jpg);
    ;
    color: white;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 137px;
    padding-right: 137px;
    border: 1px solid white;

}

#hamburg .laes_mere6 a:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}


#london {
    background-color: #59071D;
    color: white;

}

#london .col {
    display: flex;
    justify-content: center;
}


.circle9 {
    background-image: url(billeder/london.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

#london .laes_mere7 a {
    background-color: #59071D;
    ;
    color: white;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 137px;
    padding-right: 137px;
    border: 1px solid white;

}

#london .laes_mere7 a:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#odense {
    background-color: #F2E6CE;
    color: #3F3A36;

}

#odense .col {
    display: flex;
    justify-content: center;
}


#odense .firkant4 {
    background-image: url(billeder/odense.jpg);
    background-position: 100%;
    width: 480px;
    height: 350px;

}

#odense .laes_mere8 a {
    background-color: #F2E6CE;
    ;
    color: #3F3A36;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 137px;
    padding-right: 137px;
    border: 1px solid #3F3A36;

}

#odense .laes_mere8 a:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#penthouse {
    background-image: url(billeder/fiskbaggrund.jpg);
    color: white;

}

#penthouse .col {
    display: flex;
    justify-content: center;
}



.circle10 {
    background-image: url(billeder/penthouse.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

#penthouse .laes_mere9 a {
    background-image: url(billeder/fiskbaggrund.jpg);
    ;
    color: white;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 137px;
    padding-right: 137px;
    border: 1px solid white;

}


#penthouse .laes_mere9 a:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}


#rungsted {
    background-color: #59071D;
    color: white;
}

#rungsted .col {
    display: flex;
    justify-content: center;
}


#rungsted .firkant5 {
    background-image: url(billeder/rungsted.jpg);
    background-position: 100%;
    width: 480px;
    height: 350px;

}

#rungsted .laes_mere10 a {
    background-color: #59071D;
    ;
    color: white;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 137px;
    padding-right: 137px;
    border: 1px solid white;

}

#rungsted .laes_mere10 a:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#skov {
    background-color: #F2E6CE;
    color: #3F3A36;


}

#skov .col {
    display: flex;
    justify-content: center;
}



.circle11 {
    background-image: url(billeder/skovridderkroen.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

#skov .laes_mere11 a {
    background-color: #F2E6CE;
    ;
    color: #3F3A36;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 137px;
    padding-right: 137px;
    border: 1px solid #3F3A36;

}


#skov .laes_mere11 a:hover {

    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}


footer {
    background-color: #3F3A36;
    color: white;
    padding: 1.5px;
    padding-top: 0px;

    text-align: center;
}

footer .col .txt {
    padding-top: 0px;
    padding-bottom: 0px;
}

/*
@media only screen and (min-width: 600px) {

    #burgerknap {
        display: none;
    }

    #burgermenu.hidden {
        transform: translateX(0);
        opacity: 1;

    }

    #burgermenu li {
        display: inline-block;
    }
}
*/

@media only screen and (min-width: 600px) {
    #menuToggle {
        display: none;

    }


    #menuburger {
        background: rgba(255, 255, 255, 0);
    }

    #menuburger li {
        display: inline-block;
    }


    #menuburger.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menuburger2 {
        display: block;
    }
