* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0rem;
}

section {
    max-width: 1200px;
    margin: 0 auto;


}

.col {
    padding-top: 1.3rem;
}


.txt {
    padding: 1.5rem;
}



img {
    width: 100%;
}





#splash {
    background-image: url(billeder/mash_splashfoto.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 69% 0%;
    max-width: none;
}


#groent {
    background-color: #59071D;
    color: white;

}



#groent .col {
    display: flex;
    justify-content: center;


}

.circle1 {
    background-image: url(billeder/gulerodder.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;


}

#koed {
    background-color: #F2E6CE;

}

#koed .col {
    display: flex;
    justify-content: center;
}


.circle2 {
    background-image: url(billeder/koed.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}


#fisk {
    background-image: url(billeder/fiskbaggrund.jpg);
    color: white;

}


#fisk .col {
    display: flex;
    justify-content: center;
}

.circle3 {
    background-image: url(billeder/fisk.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

.menu_knapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#menu {
    background-color: #F2E6CE;


}

#menu .col {
    padding-top: 0rem;
}


#menu .knap a {
    background-color: #393432;
    color: white;
    text-decoration: none;
    border-radius: 13px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    padding-left: 8rem;
    padding-right: 8rem;

}





#menu .mad a:hover {

    color: lightpink;
    background-color: black;
}


#selvskab {
    background-color: #59071D;
    color: white;


}


#selvskab .col {
    display: flex;
    justify-content: center;
}


#info {
    background-image: url(billeder/fiskbaggrund.jpg);
    color: white;

}


.circle4 {
    background-image: url(billeder/fisk.jpg);
    background-position: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

footer {
    background-color: #333333;
    color: white;
    padding: 1.5rem;
    text-align: center;
}
